--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
openai>=1.30.0
fastapi>=0.110.0
uvicorn>=0.29.0
python-multipart>=0.0.9
nougat-ocr>=0.1.17
transformers==4.38.2
albumentations<1.4.0
pypdfium2<5.0.0
